@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.showcaseItem{
  width:541px;
  height: 335px;
  top: 16px;
margin-left: 20px;
  .images{
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 70%;
    border: 2px solid #989494;
  }
  .button{
    border: 2px solid #989494;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
}