@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.banner{
  width: 100%;
  display: flex;
  background-color: #fde3f8;
  height: 974px;
  .left{
    width:50%;
    text-align: start;
    padding: 150px 100px;
    font-family: 'Roboto';
    h2{
      font-weight: 700;
      font-size: 45px;
    }
    .title{
      font-weight: 400;
      font-size: 30px;
    }
    .note{
      font-size: 20px;
    }
  }
  .right{
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
    img{
      width: 90%;
      padding-top: 150px;
    }
  }
}