@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.itservicesitem{
  width: 359px;
  height: 277px;
  border-radius: 5px;
  border:2px solid #a6a1a1;
  margin-left: 20px;
  box-sizing: border-box;
  overflow: hidden;
  .images{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    overflow: hidden;

  }
  .action{
    height: 30%;
    width: 100%;
    border: 1px solid #a6a1a1;

    span{
      width: 100%;
      margin-top: 10px;
      font-family:'Roboto';
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      padding-left: 15px;
      padding-top: 20px;


      height: 50%;
    }
    p{

      width: 100%;

      font-family:'Roboto';
      padding-left: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 10px;
      height: 50%;

      i{
        width: 28px;
        height: 28px;
        padding: 5px 5px;
        border-radius: 15px;
        border: 1.5px solid #F36218;

        color: #F36218;

      }
    }
  }
}