@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header{
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  .logo{
    width: 50%;
    margin-left: 100px;
    padding-top: -20px;
  }

  .listmenu{
    width: 50%;
    font-family: 'Roboto';
    color: #333333;
    size: 20px;
    font-weight: 800;
    padding-top: 20px;
    padding-right: 10px;
    ul{
      list-style: none;
      display: flex;
      margin-right: 40px;
      li{
        text-align: start;
        line-height: 24px;
        width: 90px;
        height: 23px;
        left: 240px;
        top: -2px;
        margin-left:20px;
        text-transform: capitalize;
        font-style: normal;

      }
      :hover{
        border-bottom:4px solid #3939f1;
      }

    }
  }

}