.porfiloContent{
    padding: 20px 20px;

  h1{
    text-align: start;
    font-size: 34px;
    font-weight: 400;
    font-family: 'Roboto';
    padding-left: 150px;
    padding-right: 200px;
  }
  p{
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 150px;
  }
}